
.grid {
  position: relative;
  width: 400px;
  flex-wrap: wrap;
  display: flex;
  height: 400px;
  margin: auto;
}

.item {
  width: 90px;
  height: 90px;
  margin: 5px;
  background:gold;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  color: #1e1f29;
  cursor: pointer;
}

.special {
    width: 90px;
    height: 90px;
    margin: 5px;
    background: #fff2;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    color: #1e1f29;
    cursor: pointer;
}

.score {
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
}